/*grundlegendes*/
 *
{
    margin:0px;
    padding:0px;
}
html
{
    font-size:12px !important;
    font-family:Arial, Helvetica, sans-serif !important;
}
.clear
{
    clear:both;
}


/*text- und bildinhalt*/
img
{
    border:0px;
}
a img
{
    border:0px;
}
h1
{
    font-size:13px;
    color:#4c4c4c;
    font-weight:bold;
    text-transform:uppercase;
}

a
{
    color:#000;
    text-decoration:none;
}
a:hover
{
    color:#f00;
    text-decoration:none;
}
td
{
    font-size:12px;
}
table
{
    width:100%;
}
li
{
    margin-left:20px;
}


.x-form
{
    padding: 10px 10px 10px 10px;
}


button.icon_customers
{
    background-image: url('icons/customers.png');
}

button.icon_products
{
    background-image: url('icons/products.png');
}

button.icon_content
{
    background-image: url('icons/content.png');
}

button.icon_modules
{
    background-image: url('icons/modules.png');
}

button.icon_stats
{
    background-image: url('icons/stats.png');
}

button.icon_importexport
{
    background-image: url('icons/importexport.png');
}

button.icon_i18n
{
    background-image: url('icons/i18n.png');
}

button.icon_seo
{
    background-image: url('icons/seo.png');
}

button.icon_settings
{
    background-image: url('icons/settings.png');
}

button.icon_exit
{
    background-image: url('icons/exit.png');
}

button.icon_save{
    background-image: url('icons/save.png');
}
button.icon_new{
    background-image: url('icons/new.png');
}
button.icon_remove{
    background-image: url('icons/remove.png');
}



div.item_product  .x-tree-node-icon {
    background-image: url('icons/item_product.png');
}
div.item_category  .x-tree-node-icon {
    background-image: url('icons/item_category.png');
}

div.item_image  .x-tree-node-icon {
    background-image: url('icons/item_image.png');
}





.maincontent_text
{
    padding:5px;
}




#sidebar
{
    background:#fdfdfd;
    border-right:1px solid #ddd;
}


#sidebar a
{
    display:block;
    padding:1px;
}

.dataTableHeadingContent
{
    background:#F1F1F1;
    border-bottom:1px solid #bbb;
    padding:3px;
}


.boxCenter
{
    padding:10px;
}
.boxCenter h1
{
    margin-bottom:2em;
}

.dataTableContent
{
    border-bottom:1px solid #ddd;
}
.h2 {
  font-family: Trebuchet MS,Palatino,Times New Roman,serif;
  font-size: 13pt;
  font-weight: bold;
}

.h3 {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 9pt;
  font-weight: bold;
}




