{config_load file="$language/lang_$language.conf" section="account_password"}
<h1>{#heading_password#}</h1>
<div id="account_password" class="twoColumnFormular">
    <form action="/account/password" method="post" >
        <p>
        <input type="hidden" name="action" value="process" />
        {if $error!=''}<div class="errror">{$error}</div>{/if}
        <h3>Passwort:</h3>
        <p><label for="altes_passwort">{#text_actual#}</label><em><input type="password" name="password_current"></em></p>
        <p><label for="altes_passwort">{#text_new#}</label><em><input type="password" name="password_new"></em></p>
        <p><label for="altes_passwort">{#text_confirm#}</label><em><input type="password" name="password_confirmation"></em></p>
        <br class="clear">
        <input class="submit" type="submit" value="Passwort &#228;ndern!" >
    </form>
</div>
