{config_load file="$language/lang_$language.conf" section="account"}
<h1>{#heading_account#}</h1>
<div id="account_settings">
    <h3>{#title_account#}</h3>
    <ul>
        <li><a href="{$LINK_EDIT}" tabindex="4">{#text_edit#}</a></li>
        <li><a href="{$LINK_ADDRESS}" tabindex="4">{#text_address#}</a></li>
        <li><a href="{$LINK_NEWSLETTER}" tabindex="4">{#text_newsletter#}</a></li>
        <li><a href="{$LINK_PASSWORD}" tabindex="4">{#text_password#}</a></li>
    </ul>
</div>

<div id="account_orderhistory">
    <h3>{#title_orders#}</h3>
    <ul>
        {if $order_content!=''}
            {foreach name=aussen item=order_data from=$order_content}
            <li>
                <a href="{$order_data.ORDER_LINK}">
                    {#order_nr#} {$order_data.ORDER_ID} (25.02.2008)<br>
                    {#order_status#} <strong>{$order_data.ORDER_STATUS}</strong><br>
                    {#order_total#} <strong>{$order_data.ORDER_TOTAL}</strong>
                </a>
            </li>
            {/foreach}

            <li>
                <a href="{$LINK_ALL}">
                    [{#text_all#}]
                </a>
            </li>
        {else}
            <li>Sie haben noch nichts bestellt.</li>
        {/if}
    </ul>
</div>
