{config_load file="$language/lang_$language.conf" section="error_handler"}
<h1><span class="textfarbe-rot">{$ERROR}</span></h1>
<div class="spalte1_inhalt">
	<div class="normaltext">
		<p>{#text_search_again#}</p>
		<br>
		<form id="new_find" action="/advanced_search_result.php" method="get"><div>
			<input class="eingabefeld-200px" type="text" name="keywords" size="30" maxlength="30" tabindex="4">
			<input class="buttons" type="submit" value="OK" tabindex="4">
		</div></form>
	</div>
</div>