{config_load file="$language/lang_$language.conf" section="boxes"}
<div id="box_categories" class="box">
    <h3>{#heading_categories#}</h3>
    <div class="box_content">
        <ul>
            {foreach from=$BOX_CONTENT.children item=categorie}
                <li>
                    <a {if $categorie.active} class="aktiv" {/if} href="/catalog/{$categorie.id}" >{$categorie.name}</a>
                    {if $categorie.children}
                        {if $categorie.active}
                            <ul>
                                {foreach from=$categorie.children item=subcategorie}
                                    <li>
                                            <a href="/catalog/{$categorie.id}/{$subcategorie.id}"  >
                                                {$subcategorie.name}
                                            </a>
                                    </li>
                                {/foreach}
                            </ul>
                        {/if}
                    {/if}
                </li>
            {/foreach}
        </ul>
    </div>
</div>