{config_load file="$language/lang_$language.conf" section="boxes"}
<div id="box_schnellsuche">
	<div class="boxueberschrift"><h1><label for="quick_findeingabe">{#heading_search#}</label></h1></div>
	<div id="box_schnellsuche_eingabe">
		<form id="quick_find" action="/search" method="get">
			<div>
				<input id="quick_findeingabe" class="eingabefeld-120px" type="text" name="keywords" maxlength="30" tabindex="3" accesskey="s">
				<input class="buttons" type="submit" value="OK" tabindex="3" accesskey="s">
			</div>
		</form>
		<!--<span class="normal_9px-unter-16px"><a id="erweitertesuche" href="#" tabindex="3">Erweiterte Suche &#62;&#62;</a></span>-->
	</div>
</div>