{config_load file="$language/lang_$language.conf" section="login"}
<form id="loginbox" method="post" action="/login"><div>
	<table border="0" cellpadding="0" cellspacing="0" style="display:inline">
		<tr>
			<td style="padding:1px 1px 0px 1px;"><input class="logineingabefeld" type="text" name="email_address" maxlength="50" tabindex="1"></td>
			<td style="padding:1px 1px 0px 1px;"><input class="logineingabefeld" type="password" name="password" maxlength="30" tabindex="1"></td>
			<td style="padding:1px 1px 0px 1px;"><input class="buttons" type="submit" value="Login" tabindex="1"></td>
		</tr>
		<tr style="text-align:left; vertical-align:top; font-size:0.75em">
			<td>eMail-Adresse oder Kundennummer</td>
			<td>Passwort</td>
			<td></td>
		</tr>
	</table>
</div></form>