#indexhtml_content_wrap
{
    background:url(../../bilder/hintergrund/ie_contentpapier.gif);
}

#banner
{
    background:url(../../bilder/hintergrund/ie_bannerpapier.gif);
}

#footer
{
    background:url(../../bilder/hintergrund/ie_footerpapier.gif);
}
