{config_load file="$language/lang_$language.conf" section="categorie_listing"}

{if $CATEGORIES_HEADING_TITLE}
<h1>{$CATEGORIES_HEADING_TITLE}</h1>
{/if}

{if $CATEGORIES_TEASER}
    <img class="categories_teaser" src="{$CATEGORIES_TEASER}" alt="{$CATEGORIES_NAME}" >
{/if}


{if $CATEGORIES_DESCRIPTION}
    <p>
        {$CATEGORIES_DESCRIPTION}
    </p>
{/if}


<div id="categorie_listing">



{if $categories!=''}
    <ul>
    {foreach name=aussen item=module_data from=$categories}
        <li>
            <a href="{$module_data.CATEGORIES_LINK}" >
                {if $module_data.CATEGORIES_IMAGE}
                    <img src="{$module_data.CATEGORIES_IMAGE}" alt="{$module_data.CATEGORIES_NAME}">
                {else}
                    <img src="{$tpl_path}bilder/kein_bild-thumb.png" alt="{$module_data.CATEGORIES_NAME}">
                {/if}

                <h4>{$module_data.CATEGORIES_NAME}</h4>
                <p>{if $module_data.CATEGORIES_DESCRIPTION}{$module_data.CATEGORIES_DESCRIPTION}{/if}</p>
            </a>
        </li>
    {/foreach}
    </ul>
{/if}



{if $products!=''}
    <div id="product_listing">

        {foreach name=aussenblabla item=module_data from=$products}
        <div class="product">
            <a class="product_image" href="{$module_data.PRODUCTS_LINK}">
                {if  $module_data.url_middle!=''}
                    <img src="{$module_data.url_middle}" alt="">
                {else}
                    <img src="{$tpl_path}/bilder/kein_bild-klein.png" alt="">
                {/if}
            </a>

            <a class="products_name" href="{$module_data.PRODUCTS_LINK}">
                {$module_data.PRODUCTS_NAME}
            </a>

            {if $module_data.ALLOWED_TO_SEE_PRICE}
                <a id="quickbuy_{$module_data.PRODUCTS_ID}" class="quickbuy" href="{$module_data.PRODUCTS_BUY_LINK}">{$module_data.PRODUCTS_PRICE}</a>
            {/if}
        </div>
        {/foreach}
        <br class="clear">

        <div id="pagination"> {$PAGINATION} </div>
        <div id="pagination_context"> {$TEXT_NUMBER_OF_PRODUCTS} </div>
    </div>
{/if}



</div>
