{config_load file="$language/lang_$language.conf" section="checkout_success"}
<h1>{#heading_success#}</h1>
<div id="checkout_success">
    <p>{#text_success#}<p>
    <br>
    <p>Unter &#34;Ihr Konto&#34; k&#252;nnen Sie jederzeit den Status Ihrer Bestellung abrufen.</p>
    <br>
    <p>{#text_thankyou#}</p>

    <form action="/account" method="get">
        <input class="submit" type="submit" value="Zu &#34;Ihr Konto&#34;" >
    </form>

</div>



<!-- Google Conversion-tracking start !-->
{if $google_tracking eq 'true'}
	{$tracking_code}
{/if}
<!-- Google Conversion-tracking end !-->
{if $downloads_content neq ''}
	{$downloads_content}
{/if}