{config_load file="$language/lang_$language.conf" section="checkout_confirmation"}
<h1>{#heading_confirmation#}</h1>
<div id="confirmation">
    <form action="/checkout/process" method="post">
        <p>
            <h3>Schritt 3 von 3 - {#text_confirm#}</h3>
            <h4>{#text_products#}</h4>
            <p><em><a href="{$PRODUCTS_EDIT}">[&#228;ndern]</a></em></p>
            <br>
        </p>
        <p>
            {$PRODUCTS_BLOCK}
        </p>
        <br>

        <div class="x_round"><div class="x_round"><div class="x_round"><div class="x_round"><div class="x_round">
            <span class="total">
                {$TOTAL_BLOCK}
            </span>
        </div></div></div></div></div>

        <p>
            <h4>{#text_shipping_address#}</h4>
                <p><em>{$DELIVERY_LABEL}</em></p>
            <h4>{#text_shipping_method#}</h4>
                <p>{$SHIPPING_METHOD}</p>
                <p><em><a href="{$SHIPPING_EDIT}" >[&#228;ndern]</a></em></p>
        </p>
        <p>
            <h4>{#text_payment_address#}</h4>
                <p><em>{$BILLING_LABEL}</em></p>
            <h4>{#text_payment_method#}</h4>
                <p>{$PAYMENT_METHOD}</p>
                <p><em><a href="{$PAYMENT_EDIT}" >[&#228;ndern]</a></em></p>
        </p>
        <input class="submit" type="submit" value="BESTELLUNG ABGEBEN!">
    </form>
    <form action="/checkout/payment" method="get">
        <input class="submit" type="submit" value="&#60;&#60; Zur&#252;ck">
    </form>
</div>