{config_load file="$language/lang_$language.conf" section="shopping_cart"}
{config_load file="$language/lang_$language.conf" section="product_info"}
<table cellspacing="0">
    <thead>
        <tr>
            <th colspan="2"  class="artikel">Artikel</th>
            <th class="anzahl">Anzahl</th>
            <th class="einzelpreis">Einzelpreis</th>
            <th class="gesamtpreis">Gesamtpreis</th>
            <th class="entf">Entf.</th>
        </tr>
    </thead>
    <tbody>
    {foreach name=aussen item=module_data from=$module_content}
        <tr id="cart_product{$module_data.PRODUCTS_ID}"  >
            <td class="artikelbild">
                <a href="{$module_data.PRODUCTS_LINK}" >
                    {if  $module_data.PRODUCTS_IMAGES[0]!=''}
                        <img src="{$module_data.PRODUCTS_IMAGES[0].url_small}" alt="">
                    {else}
                        <img  src="/{$tpl_path}/bilder/kein_bild-thumb.png" alt="">
                    {/if} 
                </a>
            </td>
            <td class="artikel" >
                <a href="{$module_data.PRODUCTS_LINK}" >{$module_data.PRODUCTS_ID}:{$module_data.PRODUCTS_NAME}</a>
            </td>
            <td>
                <input type="hidden" name="products_id[]" value="{$module_data.PRODUCTS_ID}">
                <input id="products_qty_{$module_data.PRODUCTS_ID}"  type="text" name="cart_quantity[]"  value="{$module_data.PRODUCTS_QTY}" >

                <script type="text/javascript" language="javascript">
                    var inp = document.getElementById("products_qty_{$module_data.PRODUCTS_ID}");
                    var d_parent = inp.parentNode;

                    var spinCtrl = new SpinControl
                    (
                            {$module_data.PRODUCTS_QTY},
                            {$module_data.PRODUCTS_TRADING_UNIT},
                            {$MAX_PRODUCTS_QTY},
                            {$module_data.PRODUCTS_TRADING_UNIT},
                            'cart_quantity[]'
                    ); 


                    spinCtrl.GetAccelerationCollection().Add(new SpinControlAcceleration(1, 500));
                    spinCtrl.GetAccelerationCollection().Add(new SpinControlAcceleration(5, 1750));

                    d_parent.replaceChild(spinCtrl.GetContainer(),inp);

                    spinCtrl.StartListening();
                </script>
            </td>
            <td class="einzelpreis"> {$module_data.PRODUCTS_SINGLE_PRICE}</td>
            <td class="gesamtpreis">{$module_data.PRODUCTS_PRICE}</td>
            <td class="entf"><input class="checkbox cart_products_del_checkbox" type="checkbox" name="cart_delete[]" value="{$module_data.PRODUCTS_ID}" /><x/td>
		</tr>
	{/foreach}
</tbody>
</table>

<div class="totalblock">
    <div class="x_round"><div class="x_round"><div class="x_round"><div class="x_round"><div class="x_round">
        <span class="total">{$TOTAL_CONTENT}</span>
        {if $SHIPPING_INFO}
            {$SHIPPING_INFO}
        {/if}
        <br>{$UST_CONTENT}
    </div></div></div></div></div>
</div>

<br class="clear">

