/*...1 von 2 Papier*/
#banner
{
	margin:0 auto;
	width:916px;
	height:146px;
	padding-left:32px;
	padding-right:32px;
	padding-top:34px;
	background:url(../../bilder/hintergrund/bannerpapier.png);
}
	#login_kontakt
	{
		width:550px;
	}
#footer
{
	margin:0 auto;
	width:916px;
	height:120px;
	padding-left:32px;
	padding-right:32px;
	background:url(../../bilder/hintergrund/footerpapier.png);
}