/*...1 von 2 volle Fotos*/
#startseitebild
{
	border:1px solid #b4b4b4;
	margin-bottom:10px;
	padding:1px;
	width:700px;
}
#abmeldenbild
{
	margin-bottom:10px;
}
#listing
{
}
	.listing_artikel
	{
		float:left;
		width:180px;
	}
	.listing_artikel:hover
	{
		color:#FF0000;
	}
		.listing_artikel_inhalt-container
		{
			margin-bottom:-45px;
		}
			.listing_artikel_inhalt-link
			{
				display:block;
				padding-bottom:15px;
				padding-left:8px;
				padding-right:8px;
				height:234px;
				text-align:center;
				font-size:0.75em;
				color:#000000;
				overflow:hidden;
			}
			.listing_artikel_inhalt-link:hover, .listing_artikel_inhalt-link:focus
			{
				text-decoration:none;
			}
				.listing_artikel_produktbild-container
				{
					display:table-cell;
					width:164px;
					height:167px;
					vertical-align:middle;
				}
					.listing_artikel_produktbild-bild
					{
						border:1px solid #b4b4b4;
						padding:1px;
						max-width:160px;
						max-height:160px;
					}
		.listing_artikel_indenwarenkorb-container
		{
			height:45px;
			text-align:center;
		}
.detailansicht_bilder-gross
{
	border:1px solid #b4b4b4;
	padding:1px;
	max-width:350px;
	max-height:350px;
}
	img.detailansicht_bilder-kleine
	{
		border:1px solid #b4b4b4;
		padding:1px;
		max-width:80px;
		max-height:80px;
	}
.empfehlungen_artikel
{
	border-top:1px solid #dcdcdc;
	padding-top:14px;
	padding-bottom:10px;
}
.warenkorb_produktbild-bild
{
	border:1px solid #b4b4b4;
	padding:1px;
	max-width:80px;
	max-height:80px;
}
#slideshowContainer img
{
	border:1px solid #b4b4b4;
	padding:1px;
}