*
{
    margin:0px;
    padding:0px;
}
html
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

img
{
    border:none;
}

input
{
    vertical-align:middle;
}


.clear 
{
    clear:both;
}

a
{
    text-decoration:none;
}
a:hover
{
    text-decoration:underline;
}

/**********************/

.error
{
    margin-bottom:10px;
    border:1px solid #f00;
    padding:5px;
    color:#f00;
    background-color:#eee;
}




/*********index.html wrap************/

#indexhtml_s_wrap
{
    width:1102px;
    margin:0 auto;
}

#advertising
{
    width:120px;
    margin-top:30px;
    margin-bottom:30px;
    float:right;
    background:#555;
    color:#fff;
    text-align:center;
    border:1px solid #555;

}

#indexhtml_content_wrap
{

    float:left;
    width:916px;
    margin:0 auto;
    background:url(bilder/hintergrund/contentpapier.png);
    padding-left:32px;
    padding-right:32px; 
}



#banner
{
    float:left;

    width:916px;
    margin:0 auto;
    padding-left:32px;
    padding-right:32px;
    padding-top:34px;
    background:url(bilder/hintergrund/bannerpapier.png);
}

#footer
{
    float:left;
    color:#fff;
    width:916px;
    margin:0 auto;
    height:56px;
    padding:32px;
    background:url(bilder/hintergrund/footerpapier.png);
    text-align:center;
}


#breadcrumb
{
    margin-top:-24px;
    padding-right:20px;
    color:#fff;
    float:right;
}
#breadcrumb a
{
    color:#faa;
}


#indexhtml_content  h1
{
    font-size:1.2em;
    padding-left:10px;
    color:#333;
    margin-top:1em;
    margin-bottom:2em;
}
#indexhtml_content 
{
    padding-bottom:45px;
}


/*********index.html login/logout form************/

#login
{
    width:850px;
    position:absolute; 
    top:50px;
    font-size:x-small;
}

#login form
{
    float:right;
}



/*********index.html top navigation************/



#topnav 
{
    margin-bottom:35px;

    width:910px;
    height:32px;
    padding-left:6px;
    background-image:url(bilder/farben/rot_navigation1.png);
}

#topnav ul
{
    height:32px;
    list-style:none;
}

#topnav  ul li
{
    height:32px;
    float:left;
}

#topnav ul li a
{
    float:left;
    display:block;
    height:32px;
    line-height:32px;
    padding-left:16px;
    padding-right:16px;
    background:url(bilder/farben/rot_navigation1_hover.png) bottom right no-repeat;
    color:#fff;
}
#topnav ul li a:hover
{
    background:url(bilder/farben/rot_navigation1_hover.png) top right no-repeat;
}



/*********sidebar************/

#indexhtml_content
{
    float:left;
    width:720px;
}

#sidebar
{
    float:right;
    width:180px;
}

.box
{
    margin-bottom:1em;
}


.box h5
{
    color:#333;
    font-weight:normal;
    text-transform:uppercase;
    text-align:center;
    padding-bottom:2px;
    margin-bottom:4px;
    background:url(bilder/boxueberschrift_trennlinie.png) bottom left no-repeat;
}

.box .box_content
{
/*     padding:5px; */
}


#box_search input.submit
{
    width:50px;
}
#box_search input.text
{
    width:120px;
}

/*********box_categories************/

#box_categories ul
{

    list-style:none;
}
#box_categories ul li
{
    display:block;
}

#box_categories ul li a
{
    padding-left:32px;
    padding-top:8px;
    padding-bottom:8px;
    display:block;
    color:#000;
    background:url(bilder/farben/rot_kategorienstart.png) left top no-repeat;
}
#box_categories ul li ul li a
{
    padding-left:32px;
    padding-top:0;  
    padding-bottom:0;  
    background:none;
}


/*********box_content************/

#content_box ul
{
    list-style:none;
}
#content_box ul li
{
    display:block;
}
#content_box ul li a
{
    display:block;
    color:#000;
    padding-left:8px;
    background:url(bilder/farben/rot_inhaltpunkte.png) top left no-repeat;
}

/*********box_cart************/

#box_cart ul
{
    list-style:none;
}
#box_cart ul li
{
    display:block;
}
#box_cart ul li a
{
    display:block;
    color:#000;
    margin-left:16px;
    padding-left:8px;
    background:url(bilder/farben/rot_inhaltpunkte.png) top left no-repeat;
}

/*********box_admin************/


#box_admin a
{
/*     display:block; */
    color:#000;
    padding-left:8px;
    background:url(bilder/farben/rot_inhaltpunkte.png) top left no-repeat;
}


/*********product_info************/

#product_info h4
{
    color:#333;
    margin-top:10px;
    margin-bottom:10px;
}


#product_info p
{
    margin-top:5px;
    margin-bottom:5px;
}




#slideshowContainer
{
    margin-right:10px;
    float:left;
    width:354px;
    height:357px;
    text-align:center;
    vertical-align:middle;
    line-height:357px;
}

#product_info_slideshow_preview
{
    margin-right:10px;
    width:354px;
    float:left;
}

#product_info_description
{
    width:350px;
    float:right;
}


#product_info_order .price
{
    padding-right:5px;
    font-size:1.5em;
    color:#0f0;
    font-weight:bold;
}



#product_info table
{
    width:100%;
}
#product_info table th
{
    text-align:left;
}


/*********product_listing************/

#product_listing
{
    margin-top:1em;
}

#product_listing #categories_description
{
    padding:10px;

}
#product_listing .categories_teaser
{
    max-width:700px;
}


#product_listing 
{
    text-align:center;

    width:684px;
    overflow:hidden;
}
#product_listing .product
{
    margin:-1px;
    float:left;
    padding-top:10px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    width:162px;
    height:260px;
    overflow:hidden;
    text-align:center;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
#product_listing .product a
{
    display:block;
}
#product_listing  .product a.products_name
{
    color:#000;
}
 a.quickbuy 
{
    color:#0f0;
    font-weight:bold;
    background:url(bilder/farben/s-gruen_indenwarenkorb-klein.png) 10px 0px no-repeat;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:10px;
}


a.quickbuy_loading
{
    background:url(bilder/ajax-loader.gif) 10px 0px no-repeat;
}






#product_listing .product .product_image
{
    height:160px;
    line-height:160px;
    vertical-align:middle;
}
#product_listing .product .product_image img
{
    vertical-align:middle;
}

#product_listing .product .products_name 
{
    height:60px;
    line-height:20px;
    display:block;
    overflow:hidden;
}


#product_listing #manufacturer_dropdown form
{
    display:inline;
}



.productOldPrice
{
    color:red;
    text-decoration:line-through;
}
/*
.productNewPrice
{
    text-decoration:blink;
}
*/


#pagination
{
    padding-top:20px;
    text-align:center;
}
#pagination b, #pagination a
{
    margin-left:-1em;
    border:1px solid #b4b4b4;
    padding:3px 15px 3px 15px;
    color:#000000;
    text-decoration:none;
    background-color:#f5f5f5;
    font-weight:normal;
}
#pagination b
{
    background-color:#b4b4b4;
}
#pagination a:hover
{
    background-color:#b4b4b4;
    text-decoration:none;
}
#pagination_context
{
    padding:1em;

    text-align:center;
}


/*********shopping_cart************/

#shopping_cart
{
    background: url(bilder/warenkorb-icon.png) top left no-repeat;
    padding-left:120px;
}

#shopping_cart input.submit
{
     margin-left:10px; 
     float:left; 
}

#shopping_cart .totalblock
{
    float:right;
    margin-top:2em;
    margin-right:10px;
    margin-bottom:10px;
}
#shopping_cart .totalblock .total
{
    font-weight:bold;
    font-size:1.4em;
}



.x_round
{
    border:1px solid #d2d2d2;
}

.x_round .x_round
{
    border:none;
    margin:-1px;
    background:url(bilder/kasse_bestaetigung_gesamtbetrag1.png) top left no-repeat;
}
.x_round .x_round .x_round
{
    border:none;
    margin:0;
    background:url(bilder/kasse_bestaetigung_gesamtbetrag2.png) top right no-repeat;
}
.x_round .x_round .x_round .x_round
{
    border:none;
    margin:0;
    background:url(bilder/kasse_bestaetigung_gesamtbetrag3.png) bottom right no-repeat;
}
.x_round .x_round .x_round .x_round .x_round
{
    border:none;
    margin:0;
    padding:1em;
    background:url(bilder/kasse_bestaetigung_gesamtbetrag4.png) bottom left no-repeat;
}


#shopping_cart table 
{
    width:100%;
}


#shopping_cart table th
{
    text-align:left;
    padding-bottom:4px;
    padding-left:4px;
    color:#000000;
    
}
#shopping_cart table th.artikel
{
    width:200px;
}
#shopping_cart table td.artikel
{
    width:200px;
    overflow:hidden;
}

#shopping_cart table td
{
    border-top:1px solid #dcdcdc;
}


#cart_empty
{
    padding-top:8px;
    padding-bottom:20px;
    padding-left:5px;
    text-align:left;
    font-style:italic;
}

#shopping_cart table th.einzelpreis , #shopping_cart table th.gesamtpreis , #shopping_cart table th.entf ,
#shopping_cart table td.einzelpreis , #shopping_cart table td.gesamtpreis , #shopping_cart table td.entf 
{
    text-align:right;
}


#shopping_cart table td.artikel a
{
    text-align:left;
    display:block;
}

#shopping_cart table td.artikelbild img
{
    margin:10px;
}



/*********login************/

#create_account
{
    background:url(bilder/neues_benutzer-konto_erstellen-icon.png) top left no-repeat;
    padding-left:120px;
}
#create_account h3
{
    margin-top:4em;
    margin-bottom:1em;

}



/*********login************/

#login_new
{
    background:url(bilder/neues_benutzer-konto_erstellen-icon.png) top left no-repeat;
    padding-left:120px;
    float:left;
    width:232px;
    border-right:1px solid #dcdcdc;
}


#login_returning
{
    background:url(bilder/login-icon.png) top left no-repeat;
    float:right;
    padding-left:130px;
    width:221px;
}


.login_html_block h4
{
    margin-top:10px;
    margin-bottom:10px;
}
.login_html_block input.submit
{
    margin-top:10px;
    margin-bottom:10px;
}
.login_html_block input.text
{
    display:block;
}


/*******spinbutton********/
.spinInput, .spinContainer
{
    /* Change this to modify the default spin control background color*/
    background-color: #fff;
}

.spinLeftRightEdge, .spinTopBottomEdge
{
  position: absolute;
  overflow: hidden;
  /* Change this to modify the default spin control border color*/
  background-color: #A5ACB2;
}
  
.spinContainer
{
  position: relative;
  font-size: 0px;
  height: 20px;
}

.spinLeftRightEdge
{
  height: 20px;
  width: 1px;
}

.spinTopBottomEdge
{
  height: 1px;
  left: 1px;
}

.spinInput
{
  position: absolute;
  top: 1px;
  left: 2px;
  height: 18px;
  border: 0px;
  color: #000;
}

.spinUpBtn, .spinUpBtnHover, .spinUpBtnPress, .spinDownBtn, .spinDownBtnHover,
.spinDownBtnPress
{
  position: absolute;
  width: 15px;
  height: 8px;
  right: 2px;
  background-image: url('bilder/spin_control_buttons.gif');
  background-repeat: no-repeat;
  /* Change this to modify the default button color*/
}

.spinUpBtn, .spinUpBtnHover, .spinUpBtnPress
{
  top: 2px;
}

.spinDownBtn, .spinDownBtnHover, .spinDownBtnPress
{
  top: 10px;
}

.spinUpBtn
{
  background-position:0px 0px;
}

.spinUpBtnHover
{
  background-position:0px -16px;
}

.spinUpBtnPress
{
  background-position:0px -32px;
}

.spinDownBtn
{
  background-position:0px -8px;
}

.spinDownBtnHover
{
  background-position:0px -24px;
}

.spinDownBtnPress
{
  background-position:0px -40px;
}

/***************

    two column form used in:

    - checkout_new_address.html
    - create_account.html

***************/


.twoColumnFormular
{
}


.twoColumnFormular p
{
    display:block;
    width:500px;
}
.twoColumnFormular p em
{
    height:30px;
    display:block;
    float:right;
    text-align:left;
    width:210px;

}
.twoColumnFormular p em input , .twoColumnFormular  p em select
{
    width:180px;
}


.twoColumnFormular p em.radiohax input
{
    width:14px;
    margin-left:10px;
    margin-right:30px;
}

.twoColumnFormular p label
{
    padding-left:10px;
    height:30px;
    width:270px;
    display:block;
    float:left;
}



/********* /checkout/shipping ***************/
#shipping
{
    background: url(bilder/versandinformationen-icon.png) top left no-repeat;
    padding-left:130px;
}
#shipping h4
{
    margin-top:10px;
    margin-bottom:10px;
}

#shipping input.submit
{
    float:right;
    margin-top:40px;
    margin-right:60px;
}

/********* /checkout/shipping/address ***************/


#checkout_shipping_address
{
    background: url(bilder/meine_adressen-icon.png) top left no-repeat;
    padding-left:130px;
}

#checkout_shipping_address p
{
    margin-top:10px;
    margin-bottom:10px;
}

#checkout_shipping_address .address .address_o
{
    display:block;
    margin-left:50px;
    width:200px;
    border-bottom:1px solid #bbb;
    padding-top:10px;
    padding-bottom:10px;
}

#checkout_shipping_address .address h4
{
    display:inline;
    padding-left:20px;

}

#checkout_shipping_address  #new_address
{
    padding-top:10px;
    padding-bottom:10px;
    display:block;
    margin-left:50px;
    width:200px;
    border-bottom:1px solid #bbb;
}



/********* /checkout/payment ***************/
#payment
{
    background: url(bilder/zahlungsinformationen-icon.png) top left no-repeat;
    padding-left:130px;
}
#payment h4
{
    margin-top:10px;
    margin-bottom:10px;
}

#payment input.submit
{
    float:right;
    margin-top:40px;
    margin-right:60px;
}

#payment .payment_method
{
    padding:20px;
}
#payment .agb
{
    margin-top:10px;
}

/********* /checkout/payment/address***************/
#checkout_payment_address
{
    background: url(bilder/meine_adressen-icon.png) top left no-repeat;
    padding-left:130px;
}


#checkout_payment_address p
{
    margin-top:10px;
    margin-bottom:10px;
}

#checkout_payment_address .address .address_o
{
    display:block;
    margin-left:50px;
    width:200px;
    border-bottom:1px solid #bbb;
    padding-top:10px;
    padding-bottom:10px;
}

#checkout_payment_address .address h4
{
    display:inline;
    padding-left:20px;

}

#checkout_payment_address  #new_address
{
    padding-top:10px;
    padding-bottom:10px;
    display:block;
    margin-left:50px;
    width:200px;
    border-bottom:1px solid #bbb;
}




/********* /checkout/confirmation ***************/
#confirmation
{
    background: url(bilder/bestaetigung-icon.png) top left no-repeat;
    padding-left:130px;
}


#confirmation p
{
    padding-top:10px;
    padding-bottom:10px;
}

#confirmation input.submit
{
    float:right;
    margin-top:40px;
    margin-right:60px;
}

/********* /checkout/success***************/
#checkout_success
{
    background: url(bilder/erfolgreich-icon.png) top left no-repeat;
    padding-left:130px;
}

/******** content *******************/

#content
{
    padding:2em;
}


/********* /account *****************/
#account_settings
{
    background: url(bilder/einstellungen-icon.png) top left no-repeat;
    padding-left:130px;
    float:left;
    width:240px;
}

#account_orderhistory
{
    background: url(bilder/laufende_bestellungen-icon.png) top left no-repeat;
    padding-left:140px;
    float:right;
    width:200px;
}


#account_settings ul  , #account_orderhistory ul
{
    list-style:none;
}

#account_orderhistory li a
{
    display:block;
    padding-top:10px;
    color:black;
}

/******** /account/history *********/

#account_history
{
    background: url(bilder/laufende_bestellungen-icon.png) top left no-repeat;
    padding-left:140px;

}

#account_history ul
{
    list-style:none;
}

#account_history li a
{
    display:block;
    padding-top:10px;
    color:black;
}


/******** /account/history/order *********/

#account_history_order
{
    background: url(bilder/bestellung-icon.png) top left no-repeat;
    padding-left:130px;

}

#account_history_order .total
{  
    font-weight:bold;
    font-size:1.4em;
}


#account_history_order p
{
    margin-top:10px;
    margin-bottom:10px;
}


#account_history_order table
{
    width:100%;
    margin-bottom:10px;
}
#account_history_order th
{
    text-align:left;
}


/*************** /address_book ******************/

#address_book
{
    background: url(bilder/meine_adressen-icon.png) top left no-repeat;
    padding-left:130px;

}

#address_book p
{
    margin-top:10px;
    margin-bottom:10px;

}

/************ /account/pasword ****************/


#account_password
{
    background: url(bilder/login-icon.png) top left no-repeat;
    padding-left:130px;

}


/************ /account/newsletter ****************/


#newsletter
{
    background: url(bilder/newsletter-icon.png) top left no-repeat;
    padding-left:130px;
}


#newsletter p label
{
    height:60px;
    width:150px;
}

#newsletter p em
{
    height:60px;
    width:250px;
}


/**************** /catalog ****************/
#categorie_listing p
{
    padding:2px;
}

#categorie_listing ul
{
    list-style:none;
}


#categorie_listing ul a
{
    display:block;
    padding:2px;
}

#categorie_listing ul a:hover
{
    background:#e1e1e1;
}

#categorie_listing ul a h4 , #categorie_listing ul a img
{
    margin-right:20px;
    display:inline;
    vertical-align:middle;
}


