{config_load file="$language/lang_$language.conf" section="account_edit"} 
{config_load file="$language/lang_$language.conf" section="create_account"}

<h1>{#heading_account#}</h1>

<div id="create_account" class="twoColumnFormular">
    <form  action="/account/edit" method="post" onsubmit="return check_form(account_edit);">
        <p>
            <input type="hidden" name="action" value="process">
            {if $error!=''}<div class="error">{$error}</div>{/if}
        </p>
        <h3>{#title_personal#}</h3> 
            {if $csID}
                <p><label>{#csID#}</label><em>{$csID}</em></p>
            {/if}

       {if $gender=='1'}
            <p><label>{#text_gender#}</label><em class="radiohax" >{$INPUT_FEMALE}{$INPUT_MALE}</em></p>
        {/if}
        <p> <label for="vorname">{#text_firstname#}</label><em> {$INPUT_FIRSTNAME}</em> </p>
        <p> <label for="nachname">{#text_lastname#}</label><em> {$INPUT_LASTNAME}</em> </p>
        <p> <label for="e-mail-adresse">{#text_email#}</label><em> {$INPUT_EMAIL}</em> </p>
        {if $birthdate=='1'}
        <p> <label for="geburtsdatum">{#text_birthdate#}</label><em> {$INPUT_DOB}</em> </p>
        {/if}

    {if $company=='1'}
        <h3>{#title_company#}</h3>
        <p> <label for="firmenname">{#text_company#}</label><em> {$INPUT_COMPANY}</em> </p>
        {if $vat=='1'}
            <p> <label for="ustid">{#text_ustid#}</label><em> {$INPUT_VAT}</em> </p>
        {/if}
    {/if}
 
    <h3>{#title_contact#}</h3>
        <p> <label for="telefonnummer">{#text_tel#}</label><em> {$INPUT_TEL}</em> </p>
        <p> <label for="telefaxnummer">{#text_fax#}</label><em> {$INPUT_FAX}</em> </p>


        <p><em class="must">{#text_must#}</em></p>

    <br class="clear">
    <input class="submit" type="submit" value="Speichern" >
</div>


