{config_load file="$language/lang_$language.conf" section="account_history_info"}
<h1>Ihr Konto</h1>
<div class="spalte1_siesindhier">Sie sind hier: {$navtrail}</div>
<div class="spalte1_icons"><img class="spalte1_icons_img" src="{$tpl_path}/bilder/bestellung-icon.png" alt="[Bestellung Icon]"></div>
<div class="spalte1_inhalt">
	<h2>{#text_oid#}{$ORDER_NUMBER} ({$ORDER_DATE})</h2>
	<div class="kasse_absatz">
		<h3>{#title_history#}</h3>
		
		<div style="color:#FF0000"><br>
		{$HISTORY_BLOCK}
		<br></div>
		
		<div class="normaltext">
			<div class="detailansicht_beschreibung_tabelle">15.05.2008</div>
			<div class="detailansicht_beschreibung_tabelle">Offen</div>
			<br class="endefloat">
			<div class="detailansicht_beschreibung_tabelle">16.05.2008</div>
			<div class="detailansicht_beschreibung_tabelle">Geld eingegangen</div>
			<br class="endefloat">
		</div>
	</div>
	<div class="kasse_absatz">
		<h3>{#text_products#}</h3>
		<div class="normaltext">
		
			<div style="color:#FF0000"><br>
			{$PRODUCTS_BLOCK}
			<br></div>
		
			<table class="kasse_bestaetigung_artikel" cellspacing="0">
				<thead id="kasse_bestaetigung_artikel-kopf">
					<tr>
						<th class="kasse_bestaetigung_artikel-positionkopf">Pos</th>
						<th class="kasse_bestaetigung_artikel-artnr">Art-nr.</th>
						<th class="kasse_bestaetigung_artikel-bezeichnung">Bezeichnung</th>
						<th class="kasse_bestaetigung_artikel-menge">Menge</th>
						<th class="kasse_bestaetigung_artikel-me">ME</th>
						<th class="kasse_bestaetigung_artikel-einzelpreis">Einzelpreis</th>
						<th class="kasse_bestaetigung_artikel-gesamtpreis">Gesamtpreis</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="kasse_bestaetigung_artikel-position">1</td>
						<td class="kasse_bestaetigung_artikel-artnr">123456</td>
						<td class="kasse_bestaetigung_artikel-bezeichnung">Bezeichnung</td>
						<td class="kasse_bestaetigung_artikel-menge">1</td>
						<td class="kasse_bestaetigung_artikel-me">Stk.</td>
						<td class="kasse_bestaetigung_artikel-einzelpreis">EUR 29,99</td>
						<td class="kasse_bestaetigung_artikel-gesamtpreis">EUR 29,99</td>
					</tr>
					<tr>
						<td class="kasse_bestaetigung_artikel-position">2</td>
						<td class="kasse_bestaetigung_artikel-artnr">123456</td>
						<td class="kasse_bestaetigung_artikel-bezeichnung">Bezeichnung</td>
						<td class="kasse_bestaetigung_artikel-menge">1</td>
						<td class="kasse_bestaetigung_artikel-me">Stk.</td>
						<td class="kasse_bestaetigung_artikel-einzelpreis">EUR 29,99</td>
						<td class="kasse_bestaetigung_artikel-gesamtpreis">EUR 29,99</td>
					</tr>
					<tr>
						<td class="kasse_bestaetigung_artikel-position">3</td>
						<td class="kasse_bestaetigung_artikel-artnr">123456</td>
						<td class="kasse_bestaetigung_artikel-bezeichnung">Bezeichnung</td>
						<td class="kasse_bestaetigung_artikel-menge">1</td>
						<td class="kasse_bestaetigung_artikel-me">Stk.</td>
						<td class="kasse_bestaetigung_artikel-einzelpreis">EUR 29,99</td>
						<td class="kasse_bestaetigung_artikel-gesamtpreis">EUR 29,99</td>
					</tr>
				</tbody>
			</table>
			
			<div style="color:#FF0000"><br>
			{$TOTAL_BLOCK}
			<br></div>
			
			<div id="kasse_bestaetigung_gesamtbetrag0">
				<div id="kasse_bestaetigung_gesamtbetrag1">
					<div id="kasse_bestaetigung_gesamtbetrag2">
						<div id="kasse_bestaetigung_gesamtbetrag3">
							<div id="kasse_bestaetigung_gesamtbetrag4">
								<div id="kasse_bestaetigung_gesamtbetrag_topspalte1">Gesamtbetrag:</div>
								<div id="kasse_bestaetigung_gesamtbetrag_topspalte2">EUR 151,61</div>
								<br class="endefloat">
								<div class="kasse_bestaetigung_gesamtbetrag_spalte1">Gesamtbetrag netto:</div>
								<div class="kasse_bestaetigung_gesamtbetrag_spalte2">EUR 130,26</div>
								<br class="endefloat">
								<div class="kasse_bestaetigung_gesamtbetrag_spalte1">Gesamtbetrag der (19 %) Mwst.:</div>
								<div class="kasse_bestaetigung_gesamtbetrag_spalte2">EUR 18,55</div>
								<br class="endefloat">
							</div>
						</div>
					</div>
				</div>
			</div>
			<br class="endefloat">
		</div>
	</div>
	<div class="kasse_absatz">
		<div class="kasse_bestaetigung_adressen">
			<h3>{#text_shipping_address#}</h3>
			<div class="normaltext">
				{$DELIVERY_LABEL}
			</div>
		</div>
		<div class="kasse_bestaetigung_adressen">
			<h3>{#text_shipping_method#}</h3>
			<div class="normaltext">{$SHIPPING_METHOD}</div>
		</div>
		<br class="endefloat">
	</div>
	<div class="kasse_absatz">
		<div class="kasse_bestaetigung_adressen">
			<h3>{#text_payment_address#}</h3>
			<div class="normaltext">
				{$BILLING_LABEL}
			</div>
		</div>
		<div class="kasse_bestaetigung_adressen">
			<h3>{#text_payment_method#}</h3>
			<div class="normaltext">{$PAYMENT_METHOD}</div>
		</div>
		<br class="endefloat">
	</div>
	<div class="kasse_buttons">
		<form action="/myaccount" method="get"><div>
			<input class="buttons2" type="submit" value="Zur&#252;ck zu &#34;Ihr Konto&#34;" tabindex="4">
		</div></form>
	</div>
</div>
<br class="endefloat">

{if $ORDER_COMMENTS!=''}
	{#text_comments#}
	{$ORDER_COMMENTS}
{/if} 

{if $downloads_content neq ''}
	{$downloads_content}
{/if}