{foreach name=aussen item=module_data from=$module_content}
<div class="checkout_payment_module">
    <label>{$module_data.selection} {$module_data.module} {$module_data.module_cost}</label>
    {if $module_data.error}
        {$module_data.error}
    {else}
        <div class="checkout_payment_form">

        {foreach name=aussen item=method_data from=$module_data.fields}

            <label for="kontoinhaber">{$method_data.title}</label>
            <div class="checkout_payment_inp">  {$method_data.field}</div>
            <br class="clear">

        {/foreach}
        </div>
    {/if}

    {if $module_data.description}
        {$module_data.description}
    {/if}	
</div>
{/foreach}