{config_load file="$language/lang_$language.conf" section="new_password"}
<h1>{$text_heading}</h1>
<div class="spalte1_icons"><img class="spalte1_icons_img" src="{$tpl_path}/bilder/login-icon.png" alt="[Passwort vergessen? Icon]"></div>
<div class="spalte1_inhalt">
	<form id="sign" action="password_double_opt.php?action=first_opt_in" method="post"><div class="create_account_inputs">
		{if $info_message!=''}
			<div id="fehler">
				{$info_message}
			</div>
		{/if}
		<h2>{$text_heading}</h2>
		<div class="normaltext">
			<div class="formularzeile">
				<div class="formularspalte-150px"><label for="e-mail-adresse">{#text_email#}</label></div>
				<div class="formularspalte-204pxmin">{$INPUT_EMAIL}</div>
				<br class="endefloat">
			</div>
			<div class="formularzeile">
				<div class="formularspalte-150px"><label for="sicherheitscode">{#text_sec_code#}:</label></div>
				<div class="formularspalte-204pxmin">{$VVIMG}</div>
				<br class="endefloat">
			</div>
			<div class="formularzeile">
				<div class="formularspalte-150px"><label for="sicherheitscode_eingabe">{#text_sec_code#}:</label></div>
				<div class="formularspalte-204pxmin">{$INPUT_CODE}</div>
				<br class="endefloat">
			</div>
		</div>
		<div class="formular_buttons">
			<div class="formularspalte-150px"></div>
			<div class="formularspalte-204pxmin"><input class="buttons2" type="submit" value="Passwort erneuern!" tabindex="4"></div>
			<br class="endefloat">
		</div>
	</div></form>
</div>
<br class="endefloat">