#banner
{
    background:url(../../bilder/hintergrund/ie_bannerpapier.gif);
}
#footer
{
    background:url(../../bilder/hintergrund/ie_footerpapier.gif);
}
#bodywrap1
{
    background:url(../../bilder/hintergrund/ie_verlauf.gif);
}
#sidebarinhaltwrap
{
    background:url(../../bilder/hintergrund/ie_contentpapier.gif);

}



/*BANNER-CONTAINER*/
#navigation1 ul
{
	overflow:visible;
	background-image:url(../../bilder/farben/rot_navigation1.png);
}
	#navigation1 li
	{
		background:none;
	}
	#navigation1 li:hover
	{
		background:none;
	}
		#navigation1 li a
		{
			display:block;
			height:auto;
		}
		#navigation1-hintergrundstart
		{
			background:none;
		}
		#navigation1-hintergrundstart:hover
		{
			background:none;
		}



#internetexplorer
{
    display:block;
    padding-top:15px;
    padding-bottom:15px;
    background:#000000;
}
    #internetexplorer_inhalt
    {
        margin:0 auto;
        width:800px;
        color:#FFFFFF;
        font-weight:bold;
        font-size:0.875em;
    }
        #internetexplorer_bild
        {
            float:left;
            padding-right:20px;
            width:70px;
        }
        #internetexplorer_text
        {
            float:left;
            padding-top:5px;
            width:610px;
        }
            #internetexplorer_text ul
            {
                padding-top:10px;
            }
            #internetexplorer_text ul li
            {
                list-style:none;
                display:inline;
            }
                #internetexplorer_text ul li a
                {
                    color:#83c8ee;
                    padding-left:12px;
                    padding-right:22px;
                    background:url(../../bilder/antiie_links.png) left top no-repeat;
                }
                #internetexplorer_text ul li a:hover
                {
                    color:#e8a935;
                    text-decoration:none;
                    background:url(../../bilder/antiie_links.png) left bottom no-repeat;
                }

