/*..................................................VARIATIONEN..................................................*/
/*...............................................................................................................*/
/*...............................................................................................................*/





/*6. PRODUKTLISTING*/

	/*...1 von 2 volle Fotos*/
	.listing_artikel:hover
{
	font-weight:normal;
}
	.listing_artikel_inhalt-container
	{
		display:block;
		padding-bottom:15px;
		padding-left:8px;
		padding-right:8px;
		height:234px;
		text-align:center;
		font-size:0.75em;
		color:#000000;
		overflow:hidden;
	}
		.listing_artikel_inhalt-link
		{
			display:inline;
		}
		.ie_listing_artikel_inhalt_bezeichnung
		{
			color:#000000;
		}
		.ie_listing_artikel_inhalt_bezeichnung:hover
		{
			text-decoration:none;
		}
			.listing_artikel_produktbild-container
			{
				display:inline;
			}
		.listing_artikel_inhalt-container table
		{
			width:164px;
			height:167px;
			vertical-align:middle;
		}
	
	/*...2 von 2 ausgeschnittene Fotos
	.listing_artikel:hover
	{
		font-weight:normal;
	}
		.listing_artikel_inhalt-container
		{
			margin-bottom:-32px;
			padding:10px;
			height:222px;
			text-align:center;
			overflow:hidden;
			font-size:0.75em;
		}
			.listing_artikel_inhalt-link
			{
				display:inline;
			}
			.ie_listing_artikel_inhalt_bezeichnung
			{
				color:#000000;
			}
			.ie_listing_artikel_inhalt_bezeichnung:hover
			{
				text-decoration:none;
			}
				.listing_artikel_produktbild-container
				{
					display:inline;
				}
			.listing_artikel_inhalt-container table
			{
				width:160px;
				height:153px;
			}
	*/





/*...............................................................................................................*/
/*...............................................................................................................*/
/*...............................................................................................................*/















/*NAVIGATION1*/
#navigation1 li a
{
	display:block;
	line-height:2.5em;
}



/*KATEGORIEN*/
#box_kategorien li li a
{
	margin-top:0px;
	line-height:1.8em;
}
#box_kategorien ul ul
{
	padding-bottom:1px;
}



/*CONTENT-CONTAINER*/

/*LISTING - allgemein*/
#ie_listing_startende
{
	height:1px;
	overflow:hidden;
}
.ie_warenkorb_produktbild
{
	height:84px;
}
.ie_warenkorb_produktbezeichnung
{
	padding-left:10px;
	height:84px;
}
.detailansicht_bilder-weiterehuelle1 table
{
	height:90px;
}
.empfehlungen_artikel
{
	border-top:1px solid #dcdcdc;
	padding-top:10px;
	padding-bottom:5px;
}
	.ie_empfehlungen_artikel_beschreibung-inhalt, .ie_empfehlungen_artikel_beschreibung-inhalt tr, .ie_empfehlungen_artikel_beschreibung-inhalt td
	{
		height:100%;
		width:546px;
	}
		.empfehlungen_artikel_beschreibung-preis-link
		{
			display:block;
			padding-top:0px;
			padding-bottom:0px;
			line-height:1.625em;
		}
			.ie_empfehlungen_artikel_bild-container
			{
				width:164px;
				height:167px;
				text-align:center;
			}
#warenkorb_gesamtbetrag4
{
	padding:12px;
	background:none;
}
#kasse_bestaetigung_gesamtbetrag1
{
	margin:0px;
	background:none;
}
#kasse_bestaetigung_gesamtbetrag2
{
	background:none;
}
#kasse_bestaetigung_gesamtbetrag3
{
	background:none;
}
#kasse_bestaetigung_gesamtbetrag4
{
	padding:10px;
	background:none;
}