/*..................................................VARIATIONEN..................................................*/
/*...............................................................................................................*/
/*...............................................................................................................*/



/*1. HINTERGRUND-BILD*/

/*2. HINTERGRUND-INHALT*/

/*3. KONTAKTBILD*/

/*4. PRIMÄRFARBE
	 - als Wort: "rot"
	 - als Hexadezimalwert: #ff0000
*/

/*5. SEKUNDÄRFARBE
	 - als Wort: "s-gruen"
	 - als Hexadezimalwert: #14c800
*/

/*6. PRODUKTLISTING*/

/*7. KATEGORIESPALTE*/



/*...............................................................................................................*/
/*...............................................................................................................*/
/*...............................................................................................................*/










/*GRUNDLEGENDES*/
*
{
	margin:0px;
	padding:0px;
}
html
{
	font-family:Arial, Helvetica, sans-serif;
}
img
{
	border:0px;
}
a img
{
	border:0px;
}
input
{
	vertical-align:middle;
}
.endefloat
{
	clear:both;
}



/*TEXTFORMATIERUNGEN*/
#spalte1 h1
{
	margin-top:-28px;
	margin-bottom:25px;
	font-size:0.8125em;
	font-weight:bold;
	text-transform:uppercase;
	color:#4c4c4c;
}
#spalte2 h1
{
	font-size:0.8125em;
	font-weight:bold;
	text-transform:uppercase;
	color:#4c4c4c;
}
	#spalte2 h1.klein
	{
		text-transform:none;
	}
.footerbox_ueberschrift h1
{
	font-size:1em;
	font-weight:bold;
	text-transform:none;
	color:#ffffff;
}
h2
{
	padding-bottom:4px;
	font-size:0.75em;
	font-weight:bold;
}
	h2 a
	{
		color:#000000;
	}
	h2 a:hover, h2 a:focus
	{
		text-decoration:none;
	}
h3
{
	padding-bottom:6px;
	font-size:0.75em;
	font-weight:normal;
	font-style:italic;
}
.normaltext
{
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
}
.italic_9px-unter-12px
{
	font-size:0.75em;
	font-style:italic;
	font-weight:normal;
}
.italic_12px-unter-12px
{
	font-size:1em;
	font-style:italic;
	font-weight:normal;
}
.normal_9px-unter-12px
{
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
}
.normal_9px-unter-12px_schwarz
{
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
	color:#000000;
}
.normal_9px-unter-16px
{
	font-size:0.5625em;
	font-style:normal;
	font-weight:normal;
}
.textfarbe-rot
{
	color:#f00;
}
.textfarbe-gruen
{
	color:#00c800;
}
a
{
	color:#ff0000;
	text-decoration:none;
}
a:hover, a:focus
{
	color:#000000;
	text-decoration:underline;
}
.linkfarbe
{
	color:#ff0000;
}



/*WIEDERKEHRENDE FORMULAR-ELEMENTE*/
input.buttons
{
	padding-top:1px;
	padding-bottom:1px;
}
input.buttons2
{
	padding-top:1px;
	padding-bottom:1px;
	padding-left:15px;
	padding-right:15px;
	margin-right:6px;
}
input.buttons3
{
	padding-top:1px;
	padding-bottom:1px;
	padding-left:5px;
	padding-right:5px;
	margin-right:6px;
}
input.buttons2-bold
{
	padding-top:1px;
	padding-bottom:1px;
	padding-left:15px;
	padding-right:15px;
	margin-right:6px;
	font-weight:bold;
}
input.logineingabefeld
{
	padding-top:1px;
	width:140px;
}
input.eingabefeld-20px
{
	padding-top:1px;
	width:100px;
}
input.eingabefeld-120px
{
	padding-top:1px;
	width:120px;
}
input.eingabefeld-200px
{
	padding-top:1px;
	width:200px;
}
textarea
{
	width:400px;
	height:200px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.2em;
}
.formularzeile
{
	padding-bottom:2px;
}
	.formularspalte-150px
	{
		float:left;
		width:150px;
		min-height:20px;
		overflow:hidden;
	}
	.formularspalte-204pxmin
	{
		float:left;
		min-width:204px;
		min-height:21px;
	}
	.formularspalte
	{
		float:left;
		min-height:21px;
	}
		.formular_radio-2
		{
			float:left;
			padding-left:5px;
			width:97px;
		}
.formularzeile-kleinerumbruch
{
	height:6px;
}
.formular_buttons
{
	padding-top:6px;
	padding-bottom:10px;
}
.formular_buttons_shippingadress
{
	margin-top:-50px;
	margin-bottom:30px;
}



/*ANDERE WIEDERKEHRENDE ELEMENTE*/
.spalte1_siesindhier
{
	margin-top:1.8em;
	font-size:0.5625em;
	color:#4c4c4c;
}
	.spalte1_siesindhier a
	{
		color:#4c4c4c;
		text-decoration:none;
	}
	.spalte1_siesindhier a:hover, .spalte1_siesindhier a:focus
	{
		text-decoration:underline;
	}
.spalte1_icons
{
	float:left;
	width:140px;
	min-height:1px;
	text-align:center;
	overflow:hidden;
}
	.spalte1_icons_img
	{
		padding-top:5px;
	}
.spalte1_inhalt
{
	float:left;
	width:580px;
	overflow:hidden;
}
.spalte1_inhalt-halb
{
	float:left;
	width:211px;
	overflow:hidden;
}
#spalte1_inhalt-links
{
	float:left;
	border-right:1px solid #dcdcdc;
	padding-right:16px;
	width:352px;
}
#spalte1_inhalt-rechts
{
	float:left;
	border-left:1px solid #dcdcdc;
	margin-left:-1px;
	width:351px;
}
#spalte1 ul li
{
	list-style:none;
}
	#spalte1 ul li a
	{
		display:block;
		padding-left:20px;
		background:url(../../bilder/farben/rot_inhaltpunkte.png) 0px 0px no-repeat;
	}
	#spalte1 ul li a:hover, #spalte1 ul li a:focus
	{
		text-decoration:none;
		background:url(../../bilder/farben/rot_inhaltpunkte.png) 0px -190px no-repeat;
	}
		#spalte1 ul li a.bestellungen-listing
		{
			padding-bottom:8px;
		}
		#spalte1 ul li a.bestellungen-listing-letztes, #spalte1 ul li a.bestellungen-listing-letztes:hover, #spalte1 ul li a.bestellungen-listing-letztes:focus
		{
			padding-top:4px;
			font-size:0.75em;
			background:none;
		}
#fehler
{
	margin-bottom:10px;
	border:2px solid #f00;
	padding:5px;
	font-size:0.75em;
	font-weight:bold;
	color:#f00;
	text-decoration:blink;
	background-color:#eee;
}
#fehler img
{
	display:none;
}
.inputRequirement
{
	display:none;
}



/*HINTERGRUND-CONTAINER*/
#huelle_innen
{
	background:url(../../bilder/hintergrund/verlauf.png) bottom repeat-x;
}
#huelle_innen2
{
	width:1120px;
	margin:0 auto; 
}
	#inhaltsspalte
	{
		float:left;
	}
		#inhalt
		{
			margin:0 auto;
			width:916px;
			padding-left:32px;
			padding-right:32px;
			padding-top:10px;
			padding-bottom:30px;
			background:url(../../bilder/hintergrund/contentpapier.png);
		}
		#endzeile
		{
			margin:0 auto;
			padding-bottom:20px;
			width:916px;
			text-align:center;
			font-size:0.75em;
			color:#FFFFFF;
			overflow:hidden;
		}
			#endzeile ul
			{
				display:inline;
			}
				#endzeile ul li
				{
					padding-left:20px;
					list-style:none;
					display:inline;
					background:url(../../bilder/endzeile_trennstrich.gif) center left no-repeat;
				}
					#endzeile ul li a
					{
						color:#FFFFFF;
						text-decoration:none;
					}
						#endzeile ul li a:hover, #endzeile ul li a:focus
						{
							color:#FFFFFF;
							text-decoration:underline;
						}
	#werbespalte
	{
		float:left;
		margin-top:34px;
		margin-left:5px;
		border:1px solid #000;
		text-align:center;
		background:#000;
	}
	#werbespalte:before
	{
		display:block;
		content:"Anzeige";
		text-align:center;
		font-size:9px;
		color:#fff;
		background:#000;
	}
#internetexplorer
{
	padding-top:15px;
	padding-bottom:15px;
	background:#000000;
}
	#internetexplorer_inhalt
	{
		margin:0 auto;
		width:800px;
		color:#FFFFFF;
		font-weight:bold;
		font-size:0.875em;
	}
		#internetexplorer_bild
		{
			float:left;
			padding-right:20px;
			width:70px;
		}
		#internetexplorer_text
		{
			float:left;
			padding-top:5px;
			width:610px;
		}
			#internetexplorer_text ul
			{
				padding-top:10px;
			}
			#internetexplorer_text ul li
			{
				list-style:none;
				display:inline;
			}
				#internetexplorer_text ul li a
				{
					color:#83c8ee;
					padding-left:12px;
					padding-right:22px;
					background:url(../../bilder/antiie_links.png) left top no-repeat;
				}
				#internetexplorer_text ul li a:hover
				{
					color:#e8a935;
					text-decoration:none;
					background:url(../../bilder/antiie_links.png) left bottom no-repeat;
				}



/*BANNER-CONTAINER*/
#logo
{
	width:916px;
	height:111px;
	overflow:hidden;
	background-position:top right;
	background-repeat:no-repeat;
}
#login
{
	position:relative;
	top:-101px;
	padding-right:58px;
	height:30px;
	font-size:0.75em;
	text-align:right;
	color:#4c4c4c;
}
#navigation1 ul
{
	margin-top:-30px;
	list-style:none;
	height:32px;
	overflow:hidden;
	background-image:url(../../bilder/farben/rot_navigation1.png);
}
	#navigation1 li
	{
		float:left;
		background:url(../../bilder/farben/rot_navigation1_hover.png) bottom right no-repeat;
	}
	#navigation1 li:hover
	{
		background:url(../../bilder/farben/rot_navigation1_hover.png) top right no-repeat;
	}
		#navigation1 li a
		{
			display:table-cell;
			padding-left:16px;
			padding-right:16px;
			height:32px;
			vertical-align:middle;
			color:#FFFFFF;
			font-size:0.75em;
			font-weight:bold;
			text-decoration:none;
		}
		#navigation1-hintergrundstart
		{
			background:url(../../bilder/farben/rot_navigation1_hover-start.png) bottom left no-repeat;
		}
		#navigation1-hintergrundstart:hover
		{
			background:url(../../bilder/farben/rot_navigation1_hover-start.png) top left no-repeat;
		}



/*CONTENT-CONTAINER*/
#spalte1
{
	width:720px;
}

		/*.........................................eigentlicher Seiteninhalt.........................................*/
		
		/*CATEGORIE_LISTING*/
		#categorie_listing ul li
		{
			list-style:none;
		}
		#categorie_listing ul li ul
		{
			padding-top:5px;
		}
		#categorie_listing ul li ul li
		{
			display:block;
			padding-left:175px;
			height:170px;
			font-size:0.5625em;
			font-style:italic;
			background:url(../../bilder/categorie_listing.png) 10px 0px no-repeat;
		}
		#categorie_listing ul li a, #categorie_listing ul li a:hover, #categorie_listing ul li a:focus
		{
			background:none;
			color:#000000;
		}
		#categorie_listing ul li ul li:last-child
		{
			background:url(../../bilder/categorie_listing_last.png) 10px 0px no-repeat;
		}
		#categorie_listing ul li h2
		{
			font-size:1.875em;
			font-weight:bold;
		}
		#categorie_listing ul li .normaltext
		{
			font-style:italic;
		}
		#categorie_listing ul li ul li .ueberschrift
		{
			display:block;
			font-size:2.22em;
			padding-bottom:5px;
			font-weight:bold;
			font-style:normal;
		}
		#empfehlungen
		{
			border-top:2px solid #dcdcdc;
			padding-top:20px;
		}
			#empfehlungen h1
			{
				padding-bottom:10px;
			}
			.empfehlungen_artikel
			{
				border-top:1px solid #dcdcdc;
				padding-top:14px;
				padding-bottom:10px;
			}
				.empfehlungen_artikel_bild
				{
					float:left;
					width:194px;
					height:167px;
				}
					.empfehlungen_artikel_bild-link
					{
						padding-left:20px;
						padding-right:10px;
						text-align:center;
						font-size:0.75em;
						color:#000000;
						overflow:hidden;
					}
				.empfehlungen_artikel_beschreibung
				{
					float:left;
					width:526px;
				}
					.empfehlungen_artikel_beschreibung-inhalt
					{
						padding-left:10px;
						display:table-cell;
						height:167px;
						vertical-align:middle;
					}
					.empfehlungen_artikel_beschreibung table
					{
						width:526px;
					}
				#categorie_listing ul li ul li .empfehlungen_artikel_beschreibung
				{
					float:left;
					width:356px;
					margin-left:-5px;
				}
					#categorie_listing ul li ul li .empfehlungen_artikel_beschreibung-inhalt
					{
						padding-left:0px;
						display:table-cell;
						height:167px;
						vertical-align:middle;
					}
					#categorie_listing ul li ul li .empfehlungen_artikel_beschreibung table
					{
						width:356px;
						margin-left:-5px;
					}
						.empfehlungen_artikel_beschreibung-daten
						{
							float:left;
							padding-top:15px;
						}
						.empfehlungen_artikel_beschreibung-preis
						{
							float:right;
							padding-top:34px;
							padding-right:10px;
							font-size:1.33em;
						}
							.empfehlungen_artikel_beschreibung-preis-link
							{
								padding-right:32px;
								padding-top:5px;
								padding-bottom:5px;
								font-weight:bold;
								color:#14c800;
								background:url(../../bilder/farben/s-gruen_indenwarenkorb-mittel.png) right 0px no-repeat;
								overflow:hidden;
							}
							.empfehlungen_artikel_beschreibung-preis-link:hover, .empfehlungen_artikel_beschreibung-preis-link:focus
							{
								text-decoration:none;
								color:#11aa00;
								background:url(../../bilder/farben/s-gruen_indenwarenkorb-mittel.png) right -100px no-repeat;
							}
		
		/*LISTING - allgemein*/
		#startseitebild_container
		{
			width:720px;
			text-align:center;
			overflow:hidden;
		}
			.listing_artikel_indenwarenkorb-link
			{
				position:relative;
				padding-left:38px;
				padding-right:10px;
				padding-top:4px;
				padding-bottom:4px;
				font-size:0.75em;
				font-weight:bold;
				color:#14c800;
				background:url(../../bilder/farben/s-gruen_indenwarenkorb-klein.png) 10px 0px no-repeat;
				overflow:hidden;
			}
			.listing_artikel_indenwarenkorb-link:hover, .listing_artikel_indenwarenkorb-link:focus
			{
				text-decoration:none;
				color:#11aa00;
				background:url(../../bilder/farben/s-gruen_indenwarenkorb-klein.png) -190px 0px no-repeat;
			}
		#listing_pagination
		{
			padding-top:20px;
			text-align:center;
		}
			#listing_pagination b, #listing_pagination a
			{
				margin-left:1px;
				margin-right:1px;
				border:1px solid #b4b4b4;
				padding:3px 5px 3px 5px;
				color:#000000;
				text-decoration:none;
				background-color:#f5f5f5;
				font-weight:normal;
			}
			#listing_pagination b
			{
				background-color:#b4b4b4;
			}
			#listing_pagination a:hover, #listing_pagination a:focus
			{
				background-color:#b4b4b4;
				text-decoration:none;
			}
		#listing_erklaerungen
		{
			padding-top:10px;
			text-align:center;
			font-size:0.75em;
		}
		#detailansicht
		{
		}
			#detailansicht_bilder
			{
				float:left;
				padding-bottom:20px;
				width:360px;
			}
				.detailansicht_bilder-weiterehuelle1
				{
					float:left;
					padding-top:4px;
					padding-right:6px;
				}
					.detailansicht_bilder-weiterehuelle2
					{
						display:table-cell;
						width:84px;
						height:84px;
						text-align:center;
						vertical-align:middle;
					}
			#detailansicht_beschreibung
			{
				float:right;
				padding-bottom:20px;
				width:354px;
			}
				#detailansicht_beschreibung ul
				{
					list-style:none;
					padding-top:15px;
				}
				#detailansicht_beschreibung ul li
				{
					padding-left:20px;
					background:url(../../bilder/farben/rot_inhaltpunkte.png) top left no-repeat;
				}
				.detailansicht_beschreibung_tabelle
				{
					float:left;
					padding-right:10px;
					width:140px;
					overflow:hidden;
				}
				#detailansicht_preis-container
				{
					float:left;
				}
					#detailansicht_preis
					{
						margin-top:-4px;
						font-size:1.5em;
						font-weight:bold;
						color:#14c800;
					}
					#detailansicht_preis-zusatz
					{
						margin-top:-4px;
						font-size:0.5625em;
						color:#14c800;
					}
					#detailansicht_preis-zusatz a
					{
						color:#14c800;
						text-decoration:underline;
					}
					#detailansicht_preis-zusatz a:hover
					{
						color:#000000;
						text-decoration:underline;
					}
				#detailansicht_indenwarenkorb-container
				{
					float:right;
					padding-right:10px;
				}
					label#indenwarenkorb-label
					{
						padding-right:6px;
					}
					input#indenwarenkorb-button
					{
						padding-left:8px;
						width:40px;
						height:40px;
						background:url(../../bilder/farben/s-gruen_indenwarenkorb-gross.png) top right no-repeat;
					}
					input#indenwarenkorb-button:hover
					{
						background:url(../../bilder/farben/s-gruen_indenwarenkorb-gross.png) bottom right no-repeat;
					}
		#abmeldeseite_start
		{
			height:20px;
		}
		#warenkorb
		{
			margin-bottom:10px;
		}
			#warenkorb th
			{
				padding-bottom:4px;
				color:#000000;
			}
			.warenkorb_artikel, .warenkorb_anzahl, .warenkorb_einzelpreis, .warenkorb_gesamtpreis, .warenkorb_entf
			{
				padding-left:5px;
				padding-right:5px;
				overflow:hidden;
			}
			td.warenkorb_artikel, td.warenkorb_anzahl, td.warenkorb_einzelpreis, td.warenkorb_gesamtpreis, td.warenkorb_entf
			{
				border-top:1px solid #dcdcdc;
				padding-top:8px;
				padding-bottom:8px;
			}
			.warenkorb_artikel
			{
				width:255px;
				text-align:left;
			}
			.warenkorb_anzahl
			{
				width:50px;
				text-align:center;
			}
			.warenkorb_einzelpreis
			{
				width:90px;
				text-align:right;
				color:#14c800;
				font-weight:bold;
			}
			.warenkorb_gesamtpreis
			{
				width:100px;
				text-align:right;
				color:#14c800;
				font-weight:bold;
			}
			.warenkorb_entf
			{
				padding-left:10px;
				width:30px;
				text-align:center;
			}
				.warenkorb_produktbild-huelle1
				{
					float:left;
				}
				.warenkorb_produktbild-huelle2
				{
					display:table-cell;
					width:84px;
					height:84px;
					text-align:center;
					vertical-align:middle;
				}
					.warenkorb_produktbild-link
					{
						display:block;
						padding-right:10px;
						width:84px;
					}
				.warenkorb_produktbezeichnung
				{
					float:left;
					width:161px;
				}
				.warenkorb_produktbezeichnung-link
				{
					display:table-cell;
					width:161px;
					height:84px;
					vertical-align:middle;
					color:#000000;
				}
				.warenkorb_produktbezeichnung-link:hover, .warenkorb_produktbezeichnung-link:focus
				{
					text-decoration:none;
					color:#000000;
				}
			#text_must
			{
				margin-top:45px;
				font-size:0.75em;
			}
			#warenkorb_gesamtbetrag4
			{
				padding:12px;
				background:url(../../bilder/kasse_bestaetigung_gesamtbetrag4.png) bottom left no-repeat;
			}
				#warenkorb_gesamtbetrag_topspalte
				{
					font-weight:bold;
					font-size:1.6666em;
				}
				#warenkorb_gesamtbetrag_versandkosten
				{
					font-size:0.75em;
					text-align:right;
				}
				#warenkorb_gesamtbetrag_versandkosten a, #warenkorb_gesamtbetrag_versandkosten a:hover, #warenkorb_gesamtbetrag_versandkosten a:focus
				{
					color:#000000;
					text-decoration:none;
				}
				#warenkorb_gesamtbetrag_topspalte1, .warenkorb_gesamtbetrag_spalte1
				{
					float:left;
					padding-right:10px;
					width:200px;
					overflow:hidden;
				}
				#warenkorb_gesamtbetrag_topspalte2, .warenkorb_gesamtbetrag_spalte2
				{
					float:left;
					width:150px;
					text-align:right;
					overflow:hidden;
				}
					#warenkorb_gesamtbetrag_topspalte1, #warenkorb_gesamtbetrag_topspalte2
					{
						padding-bottom:10px;
						font-weight:bold;
						font-size:1.6666em;
				}
			#warenkorb_leer
			{
				border-top:1px solid #dcdcdc;
				padding-top:8px;
				padding-bottom:20px;
				padding-left:5px;
				text-align:left;
				font-style:italic;
			}
			#warenkorb-voll
			{
				text-align:right;
			}
			#warenkorb-voll form
			{
				display:inline;
			}
			#warenkorb-voll form .buttons2
			{
				margin-top:10px;
			}
			#slideshowContainer
			{
				display:table-cell;
				width:354px;
				height:357px;
				text-align:center;
				vertical-align:middle;
				background:url(../../bilder/javascript.png) center no-repeat;
			}

		/*KASSE*/
		#payment-shipping form
		{
			display:inline;
		}
		#payment-shipping form .buttons2, #payment-shipping form .buttons2-bold
		{
			float:right;
			margin-top:10px;
		}
		.kasse_absatz
		{
			border-top:1px solid #dcdcdc;
			padding-top:6px;
			padding-bottom:6px;
		}
		.kasse_aendern
		{
			padding-top:4px;
			padding-bottom:4px;
		}
		.kasse_buttons-left
		{
			padding-top:10px;
			padding-bottom:10px;
			text-align:left;
		}
		.kasse_bestaetigung_adressen
		{
			float:left;
			padding-right:100px;
			width:190px;
		}
		.kasse_bestaetigung_aendern
		{
			float:right;
			margin-left:-100px;
			width:100px;
			text-align:right;
		}
		table.kasse_bestaetigung_artikel
		{
			margin-top:6px;
			margin-bottom:10px;
		}
		#kasse_bestaetigung_artikel-kopf
		{
			font-size:0.75em;
		}
			.kasse_bestaetigung_artikel-position, .kasse_bestaetigung_artikel-positionkopf, .kasse_bestaetigung_artikel-artnr, .kasse_bestaetigung_artikel-bezeichnung, .kasse_bestaetigung_artikel-menge, .kasse_bestaetigung_artikel-menge, .kasse_bestaetigung_artikel-me, .kasse_bestaetigung_artikel-einzelpreis, .kasse_bestaetigung_artikel-gesamtpreis
			{
				padding-bottom:3px;
				text-align:left;
				vertical-align:top;
			}
				.kasse_bestaetigung_artikel-position, .kasse_bestaetigung_artikel-positionkopf
				{
					padding-right:4px;
					width:20px;
				}
				.kasse_bestaetigung_artikel-position
				{
					font-size:0.75em;
				}
				.kasse_bestaetigung_artikel-artnr
				{
					padding-right:4px;
					width:50px;
				}
				.kasse_bestaetigung_artikel-bezeichnung
				{
					padding-right:4px;
					width:230px;
				}
				.kasse_bestaetigung_artikel-menge
				{
					padding-right:4px;
					width:40px;
					text-align:right;
				}
				.kasse_bestaetigung_artikel-me
				{
					padding-right:4px;
					width:26px;
				}
				.kasse_bestaetigung_artikel-einzelpreis
				{
					padding-right:4px;
					width:90px;
					text-align:right;
				}
				.kasse_bestaetigung_artikel-gesamtpreis
				{
					width:100px;
					text-align:right;
				}
		#kasse_bestaetigung_gesamtbetrag0
		{
			float:right;
			margin-right:10px;
			margin-bottom:10px;
			border:1px solid #d2d2d2;
		}
			#kasse_bestaetigung_gesamtbetrag1
			{
				margin:-1px;
				background:url(../../bilder/kasse_bestaetigung_gesamtbetrag1.png) top left no-repeat;
			}
			#kasse_bestaetigung_gesamtbetrag2
			{
				background:url(../../bilder/kasse_bestaetigung_gesamtbetrag2.png) top right no-repeat;
			}
			#kasse_bestaetigung_gesamtbetrag3
			{
				background:url(../../bilder/kasse_bestaetigung_gesamtbetrag3.png) bottom right no-repeat;
			}
			#kasse_bestaetigung_gesamtbetrag4
			{
				padding:10px;
				background:url(../../bilder/kasse_bestaetigung_gesamtbetrag4.png) bottom left no-repeat;
			}
				#kasse_bestaetigung_gesamtbetrag_topspalte
				{
					font-size:1.1666em;
				}
				#kasse_bestaetigung_gesamtbetrag_topspalte1, .kasse_bestaetigung_gesamtbetrag_spalte1
				{
					float:left;
					padding-right:10px;
					width:160px;
					overflow:hidden;
				}
				#kasse_bestaetigung_gesamtbetrag_topspalte2, .kasse_bestaetigung_gesamtbetrag_spalte2
				{
					float:left;
					width:110px;
					text-align:right;
					overflow:hidden;
				}
					#kasse_bestaetigung_gesamtbetrag_topspalte1, #kasse_bestaetigung_gesamtbetrag_topspalte2
					{
						padding-bottom:10px;
						font-weight:bold;
					}
					.kasse_bestaetigung_gesamtbetrag_spalte1, .kasse_bestaetigung_gesamtbetrag_spalte2
					{
						font-size:0.75em;
					}

		/*IHR KONTO*/
		#meineadressen_ersterabsatz
		{
			padding-bottom:8px;
		}
			#meineadressen_standardadresse
			{
				float:left;
				width:250px;
			}
			#meineadressen_standardadresse-erklaerung
			{
				float:left;
				width:250px;
				font-style:italic;
				font-size:0.75em;
			}
		.meineadressen_weitere
		{
			border-top:1px solid #dcdcdc;
			padding-top:8px;
		}
            .meineadressen_adressen
            {
            	float:left;
                width:290px;
                height:132px;
                overflow:hidden;
            }
			#meineadressen_adresse
			{
				padding-top:5px;
			}
		
		/*LOGIN*/
		#oder
		{
			padding-top:5px;
			padding-bottom:15px;
			text-align:center;
			font-size:0.75em;
			font-style:italic;
		}
		#login_passwortvergssen
		{
			font-size:0.5625em;
		}
		
		/*CREATE ACCOUNT*/
		#male_female input
		{
			margin-left:2px;
		}
		.create_account_inputs input
		{
			width:200px;
		}
		.create_account_inputs select
		{
			width:204px;
		}
		
		/*IMPRESSUM*/
		#w3c
		{
			padding-top:30px;
		}

		/*.......................................eigentlicher Seiteninhalt Ende......................................*/

#spalte2
{
	width:180px;
}
	.boxueberschrift
	{
		text-align:center;
		padding-bottom:8px;
		background:url(../../bilder/boxueberschrift_trennlinie.png) bottom left no-repeat;
	}
	#box_admin
	{
		padding-bottom:20px;
	}
	#box_admin .normaltext
	{
		padding:10px;
	}
	#box_warenkorb, #box_content
	{
		padding-bottom:30px;
	}
		img#warenkorb
		{
			margin:0px;
			vertical-align:bottom;
		}
		#box_warenkorb ul, #box_content ul
		{
			padding-top:6px;
			list-style:none;
		}
			#box_warenkorb li a, #box_content li a
			{
				display:block;
				padding-left:24px;
				text-decoration:none;
				font-size:0.8125em;
				color:#000000;
				background:url(../../bilder/pfeil.png) left top no-repeat;
			}
			#box_warenkorb li a:hover, #box_content li a:hover
			{
				text-decoration:underline;
			}
			#box_warenkorb li a.spezial
			{
				font-weight:bold;
				color:#00c800;
				background:url(../../bilder/pfeil-gruen.png) left top no-repeat;
			}
	#box_schnellsuche
	{
		padding-bottom:30px;
	}
		#box_schnellsuche_eingabe
		{
			padding-top:6px;
			padding-left:5px;
			padding-right:5px;
		}
	#box_kategorien
	{
		padding-bottom:30px;
	}
		#box_kategorien li
		{
			list-style:none;
			background:url(../../bilder/kategorien_trennlinie.png) bottom left no-repeat;
		}
			#box_kategorien li a
			{
				display:block;
				padding-left:32px;
				line-height:2.65em;
				text-decoration:none;
				font-size:0.8125em;
				color:#1e1e1e;
				background:url(../../bilder/farben/rot_kategorienstart.png) left top no-repeat;
			}
			#box_kategorien li a:hover, #box_kategorien li a:focus
			{
				font-weight:bold;
			}
			#box_kategorien li a.aktiv
			{
				color:#FF0000;
				font-weight:bold;
			}
				#box_kategorien li li
				{
					background:none;
				}
					#box_kategorien li li a
					{
						display:block;
						margin-top:-9px;
						padding-bottom:4px;
						padding-left:40px;
						font-size:0.625em;
						text-decoration:none;
						background:none;
					}
	#anzeige
	{
		padding-top:20px;
		padding-bottom:20px;
		text-align:center;
		font-size:0.5625em;
		font-style:italic;
		font-weight:normal;
		color:#4c4c4c;
	}


/*FOOTER-CONTAINER*/
.footerbox-2
{
	float:left;
	padding:16px 42px 16px 16px;
	height:160px;
	width:400px;
	color:#FFFFFF;
}
.footerbox-3
{
	float:left;
	padding:16px 16px 16px 16px;
	height:160px;
	width:273px;
	color:#FFFFFF;
}
	.footerbox_ueberschrift
	{
		float:left;
		height:29px;
		padding-bottom:2px;
		overflow:hidden;
	}
	.footerbox_bild
	{
		float:left;
		margin-top:-26px;
		padding-left:20px;
		padding-bottom:2px;
		height:55px;
		overflow:hidden;
	}
	.footerbox_text
	{
		height:129px;
		font-size:0.75em;
		overflow:hidden;
	}
		#footer a
		{
			color:#ffffff;
			text-decoration:underline;
		}
			#footer a:hover, #footer a:focus
			{
				color:#CCCCCC;
				text-decoration:none;
			}
		#newsletterformular
		{
			padding-top:10px;
			padding-bottom:5px;
		}



/*******spinbutton********/
.spinInput, .spinContainer
{
  /* Change this to modify the default spin control background color*/
  background-color: #FFFFFF;
}

.spinLeftRightEdge, .spinTopBottomEdge
{
  position: absolute;
  overflow: hidden;
  /* Change this to modify the default spin control border color*/
  background-color: #A5ACB2;
}
  
.spinContainer
{
  position: relative;
  font-size: 0px;
  height: 20px;
}

.spinLeftRightEdge
{
  height: 20px;
  width: 1px;
}

.spinTopBottomEdge
{
  height: 1px;
  left: 1px;
}

.spinInput
{
  position: absolute;
  top: 1px;
  left: 2px;
  height: 18px;
  border: 0px;
  /* Change this to modify the default spin control font, font color, and font size*/
  color: Black;
  font-size: 9pt;
  font-family: Arial;
}

.spinUpBtn, .spinUpBtnHover, .spinUpBtnPress, .spinDownBtn, .spinDownBtnHover, .spinDownBtnPress
{
  position: absolute;
  width: 15px;
  height: 8px;
  right: 2px;
  background-image: url('../../bilder/spin_control_buttons.png');
  background-repeat: no-repeat;
  /* Change this to modify the default button color*/
  background-color: #000000;
}

.spinUpBtn, .spinUpBtnHover, .spinUpBtnPress
{
  top: 2px;
}

.spinDownBtn, .spinDownBtnHover, .spinDownBtnPress
{
  top: 10px;
}

.spinUpBtn
{
  background-position:0px 0px;
}

.spinUpBtnHover
{
  background-position:0px -16px;
}

.spinUpBtnPress
{
  background-position:0px -32px;
}

.spinDownBtn
{
  background-position:0px -8px;
}

.spinDownBtnHover
{
  background-position:0px -24px;
}

.spinDownBtnPress
{
  background-position:0px -40px;
}