
/*********index.html wrap************/

#indexhtml_s_wrap
{
    width:1102px;
    margin:0 auto;
}

#advertising
{
    width:120px;
    margin-top:30px;
    margin-bottom:30px;
    float:right;
    background:#555;
    color:#fff;
    text-align:center;
    border:1px solid #555;

}

#indexhtml_content_wrap
{
    float:left;
    width:916px;
    margin:0 auto;
    background:url(../../bilder/hintergrund/contentpapier.png);
    padding-left:32px;
    padding-right:32px; 
}



#banner
{
    float:left;
    width:916px;
    padding-left:32px;
    padding-right:32px;
    margin:0 auto;
    background:#000;
    background:url(../../variant/logo/schwarzkult.png) no-repeat;
    color:#fff;
}

#footer
{
    float:left;
    color:#fff;
    width:916px;
    margin:0 auto;
    height:56px;
    padding:32px;
    background:url(../../bilder/hintergrund/footerkasten.png);
    text-align:center;
}


#breadcrumb
{
    margin-top:-35px;
    font-size:xx-small;
    padding:1em;
    color:#ddd;
    float:right;
}
#breadcrumb a
{

    color:#fff;
}


#indexhtml_content  h1
{
    font-size:1.2em;
    padding-left:10px;
    color:#333;
    margin-top:1em;
    margin-bottom:2em;
}
#indexhtml_content 
{
    padding-bottom:45px;
}





#banner
{
    float:left;
    width:916px;
    padding:0;
    margin:0 auto;
    color:#fff;
    background:none;
}

#banner #logo
{
    float:left;
}



#topnav 
{
    margin-top:10px;
    margin-bottom:35px;

    width:910px;
    height:32px;
    padding-left:6px;
    background-image:url(../../bilder/farben/schwarz_navigation1.png);
}


#topnav ul li a
{
    float:left;
    display:block;
    height:32px;
    line-height:32px;
    padding-left:16px;
    padding-right:16px;
    background:url(../../bilder/farben/schwarz_navigation1_hover.png) bottom right no-repeat;
    color:#fff;
}
#topnav ul li a:hover
{
    background:url(../../bilder/farben/schwarz_navigation1_hover.png) top right no-repeat;
}



#box_categories ul li a
{
    padding-left:32px;
    padding-top:8px;
    padding-bottom:8px;
    display:block;
    color:#000;
    background:url(../../bilder/farben/schwarz_kategorienstart.png) left top no-repeat;
}


